body {
    font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: calc(10px + 0.33vw);
    -webkit-font-smoothing: antialiased;
    padding: 5vh 10vw;
    padding-top: 3vh;
    color: #121314;
    background: #f2f2f2;
}
h1 {
    font-size: 4.0em;
    font-weight: 500;
    margin-bottom: 0;
}
p {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.6;
    max-width: 30em;
}
a {
    text-decoration: none;
    color: #121314;
    position: relative;
}
a:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 60%;
    left: -0.1em;
    right: -0.1em;
    bottom: 0;
    transition: top 200ms cubic-bezier(0, .8, .13, 1);
    background-color: #AAD8CF;
}
a:hover:after {
    top: 0%;
}

.book-description {
    font-size: 1.2em;
    font-style: italic;
    max-width: 40em;
}

.book-title {
    /* font-weight: 400; */
}


.home-button {
    display: inline-block;
    font-size: 1.35em;
    font-weight: 500;
    margin-bottom: 1rem;
}
